<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/carrito-cargado.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>Carrito-cargado</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <h1>CARRITO DE COMPRAS</h1>
<div class="contenedor1">
 <div class="contenedor1a">

   <div class="columna1"><img class="jack-daniels" width='80' height='150' ></img></div>

   <div class="columna2">Producto
    <div class="mayusculas" id="nombre"> </div>                                              <!-- nombre -->                                       
  </div>

   <div class="columna3">Envío
       <div>Envio Gratis</div>
   </div>

   <div class="columna4" id="precio" ><div></div>                                               <!-- precio -->
   </div>

   <div class="columna5">Cantidad
       <div class="cantidades" id="cantidad"> </div>                                              <!-- cantidad -->
   </div>

   <div class="columna6">TOTAL
       <div id="total"></div>                                                                           <!-- Total -->
    </div>     


</div>

<!-- <div class="contenedor1b">
   <div class="contenedor2">
    <div class="fila1b">SUMAR CUPON DE DESCUENTO</div>
    <div class="fila2b">Subtotal
        <div>$10.080</div>
    </div>
    <div class="fila3">Envío
        <a class="elegi" href="#calcular">Calcular</a>
    </div>
    <div class="fila4">TOTAL
        <div>$10.080</div>
    </div>
    <button>FINALIZAR COMPRA</button>
    <a href="/products/productos-todos"><div class="elegi">Elegí mas productos</div></a>
</div>
</div> -->

</div>


    </main>
    <footer>
        
        <%- include("../partials/footer.ejs") %> 

    </footer>

    <script src="/js/carrito-cargado.js"></script>

</body>
</html>