<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/carrito.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>


<body>
    <%- include("./partials/header.ejs") %>

    <main>
        <br>
        <div class="medio">

            
            <div class="carrito-fondo">
            <div class="background-image-carrito">
                <div class="caja-texto">
                    <div class="esta-vacio">Tu carrito esta vacío</div>
                    <div class="llenalo">Llenalo con nuestros productos</div>
                    <a class="compras" href="/">Ir de compras</a>
                </div>
            </div>
            </div>
            

        </div>
        <div class="derechos">DIGITAL DRINKS - Todos los derechos reservados</div>
       <br>

    </main>

    <footer>
        <%- include("../partials/footer.ejs") %> 

    </footer>

</body>

</html>