<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fa3a2d0319.js" crossorigin="anonymous"></script>
    <link href="/css/productos-todos.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <%- include("../partials/header.ejs") %> 

         <main class="container-grid">

        <div class="producto">
            <img src="/imagenes/jack-daniels.png" alt="Jack Daniels">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 10.080</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Jack Daniel's Old No. 7 750 mL</span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>1919</span>
                </div>
                <br>
                <a href="producto" align="center">
                    <input class="detalle-producto" type="button" value="Detalle Producto">
                    </a>
                
                <span class="conStock" align="center">Stock disponible</span>
            </div>
        </div>


        <div class="producto">
            <img  src="imagenes/Aberlour Single matl 12 Años escoces 700ml.png" alt="Aberlour">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 10.800</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Aberlour Malt escocés 700 mL</span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>1100</span>
                </div>
                <br>
                <a href="producto" align="center">
                    <input class="detalle-producto" type="button" value="Detalle Producto">
                    </a>
                <span class="sinStock" align="center">Sin Stock</span>
                </div>
        </div>

        <div class="producto">
            <img src="imagenes/Whisky Chivas Regal 12 Años Escocia botella 1 L.png" alt="Chivas Regal">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 7.290</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Chivas Regal 12 Años Escocia 1 L</span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>2090</span>
                </div>
                <br>
                <a href="producto" align="center">
                    <input class="detalle-producto" type="button" value="Detalle Producto">
                    </a>
                    
                <span class="sinStock" align="center">Sin Stock</span>
                
            </div>
        </div>

        <div class="producto">
            <img src="imagenes/Ballantine's 12 Años escocés 750 mL.png" alt="Ballantine">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 6.480</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Ballantine's escocés 750 mL </span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>1809</span>
                </div>
            </div>
            <a href="producto" align="center">
            <input class="detalle-producto" type="button" value="Detalle Producto">
            </a>
            <br>
            <span class="sinStock" align="center">Sin Stock</span>
                
                
                
            </div>
           
        </div>


         

    </main> -->

    
    <footer> 
        <%- include("../partials/footer.ejs") %> 
    </footer>

</body>

</html>