<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/carrito.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>

<body>
    <header>

        <div class="logo">
           <a href="home.html"><img width="300" height="75" src="imagenes/logo-dd.png"></a> 
        </div>
        <div class="a">
            <input class="input" placeholder="¿Qué estas buscando?">
            <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>

            <ul class="menu">
                <li><a href="#promociones">PROMOCIONES</a></li>|
                <li><a href="#vinos">VINOS</a></li>|
                <li><a href="#espumantes">ESPUMANTES </a></li>|
                <li><a href="#whiskies">WHISKIES</a></li>|
                <li><a href="#gin">GIN</a></li>|
                <li><a href="#licores">LICORES</a></li>|
                <li><a href="#vodka">VODKA</a></li>|
                <li><a href="#ron">RON</a></li>|
                <li><a href="#aperitivos">APERITIVOS</a></li>|
                <li><a href="#cervezas">CERVEZAS</a></li>|
                <li><a href="#accesorios">ACCESORIOS</a></li>|
                <li><a href="#otras">OTRAS</a></li>
            </ul>
        </div>
        <div class="b">
            <i class="fa-regular fa-envelope"></i>
            <a href="carrito.html"><i class="fa fa-cart-shopping"></i></a>
        </div>

        <div>
            <ul class="menu2">
                <li><a href="registro.html">Registrarse</a></li>
                <li class="li"><a href="login.html">Ingresar</a></li>
            </ul>
        </div>

    </header>
    <main>
    <br>
        <div class="medio">
            <i class="fa fa-cart-shopping fondo-main"></i>
            <div class="tu-carrito">Tu carrito</div>
            <div class="esta-vacio">Tu carrito esta vacío</div>
            <div class="llenalo">Llenalo con nuestros productos</div>
            <a class="compras" href="home.html">ir de compras</a>
        </div>
        <br>

    </main>

    <footer>
        <div class="pie">
            
                <div class="pie1"><img width='300' height='75' src="/imagenes/logo-dd.png"></img></div>
                <div class="pie2">
                    <div>Terminos y condiciones</div>
                    <div>Politicas de privacidad</div>
                    <div>contactanos</div>
                    <div>franquicias</div>
                </div>
                <div class="pie3">
                    <div><i class="fa-brands fa-whatsapp iconosf"></i><i class="fa-brands fa-facebook iconosf"></i><i class="fa-brands fa-instagram iconosf"></i></div>
                    <div>info@digitaldrinks.com</div>
                    <div>1121602249</div>
                    <div>Calle Falsa 123, Vicente Lopez, B1504</div>
                </div>
        </div>
                    
                
    </footer>
    
</body>
</html>