<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/producto.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <header>

    </header>
    <main>

        <img class="jack-daniels" width='200' height='350' src="/imagenes/jack-daniels.png"></img>

        <div class="caja1">
           <div>Nuevo</div>
           <h2>Jack Daniel's Old No. 7 750 mL</h2>
           <div>$ 11.200</div>
           <div>$ 10.080</div> <div>10% OFF</div>
           <div> en 12x $ 1.488</div>
           <div>El precio por litro es $ 13.440</div>
           <a>Ver los medios de pago</a>
           <div>Volumen: 750 mL</div>
           <input type="text" placeholder="200 mL"><input type="text" placeholder="500 mL"><input type="text" placeholder="750 mL">
           <div>. 40% de graduación alcoholica.</div>
        </div>



    </main>
    <footer>

    </footer>
    
</body>
</html>