<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/producto.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <header>
        <div class="fila1">

            <div class="logo">
                <a href="home.html"><img width="300" height="75" src="imagenes/logo-dd.png"></a>
            </div>
            <div class="ayb"><input class="input" placeholder="¿Qué estas buscando?">
                <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div class="b">
                <i class="fa-regular fa-envelope"></i>
                <a href="carrito.html"><i class="fa fa-cart-shopping"></i></a>
            </div>

            <div>
                <ul class="menu2">
                    <li><a href="registro.html">Registrarse</a></li> |
                    <li class="li"><a href="login.html">Ingresar</a></li>
                </ul>
            </div>


        </div>
        <div class="fila2">

           

                <ul class="menu">
                    <li><a href="#promociones">PROMOCIONES</a></li>|
                    <li><a href="#vinos">VINOS</a></li>|
                    <li><a href="#espumantes">ESPUMANTES </a></li>|
                    <li><a href="producto.html">WHISKIES</a></li>|
                    <li><a href="#gin">GIN</a></li>|
                    <li><a href="#licores">LICORES</a></li>|
                    <li><a href="#vodka">VODKA</a></li>|
                    <li><a href="#ron">RON</a></li>|
                    <li><a href="#aperitivos">APERITIVOS</a></li>|
                    <li><a href="#cervezas">CERVEZAS</a></li>|
                    <li><a href="#accesorios">ACCESORIOS</a></li>|
                    <li><a href="#otras">OTRAS</a></li>
                </ul>

                <div class="menu-mobile">
                    <button class="boton-desplegable"><i class="fa-solid fa-bars hamburguesa"></i></i></button>
                    <div class="contenedor-lista-mobile" tabindex="1">

                        <ul class="lista-mobile">
                            <li><a href="#promociones">PROMOCIONES</a></li>
                            <li><a href="#vinos">VINOS</a></li>
                            <li><a href="#espumantes">ESPUMANTES </a></li>
                            <li><a href="producto.html">WHISKIES</a></li>
                            <li><a href="#gin">GIN</a></li>
                            <li><a href="#licores">LICORES</a></li>
                            <li><a href="#vodka">VODKA</a></li>
                            <li><a href="#ron">RON</a></li>
                            <li><a href="#aperitivos">APERITIVOS</a></li>
                            <li><a href="#cervezas">CERVEZAS</a></li>
                            <li><a href="#accesorios">ACCESORIOS</a></li>
                            <li><a href="#otras">OTRAS</a></li>
                        </ul>
                    </div>
                </div>

                <div class="input-responsive"><input class="input" placeholder="¿Qué estas buscando?">
                    <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
                </div>


        </div>

    </header>
    <main>

        <img class="jack-daniels" width='200' height='350' src="/imagenes/jack-daniels.png"></img>

        <div class="caja1">
           <div>Nuevo</div>
           <h2>Jack Daniel's Old No. 7 750 mL</h2>
           <div>$ 11.200</div>
           <div>$ 10.080</div> <div>10% OFF</div>
           <div> en 12x $ 1.488</div>
           <div>El precio por litro es $ 13.440</div>
           <a href="#medios-pago">Ver los medios de pago</a>
           <div>Volumen: 750 mL</div>
           <input type="text" placeholder="200 mL"><input type="text" placeholder="500 mL"><input type="text" placeholder="750 mL">
           <div>. 40% de graduación alcoholica.</div>
        </div>

        <!--
        <div class="caja2">
            <div> Marca</div><div>Jack Daniel's</div>
            <div>Nombre del whisky</div><div>Old No. 7</div>
            <div>Volumen de la unidad</div><div>750 mL</div>
            <div>Formato de venta</div><div>Unidad</div>
            <div>Unidades por pack</div><div>1</div>
            <div>Tipo de envase</div><div>Botella</div>
            <div>Tarjetas de crédito</div>
            <div>¡Cuotas sin interés con bancos seleccionados!</div>
            <img class="bancos-seleccionados" width="100" height="60" src="/imagenes/bancos-seleccionados.png">
       </div> 
       -->

   




    </main>
    <footer>
        <div class="pie">

            <div class="pie1"><img width='300' height='75' src="/imagenes/logo-dd.png"></img></div>
          
            <div class="pie2">
                <div>Terminos y condiciones</div>
                <div>Politicas de privacidad</div>
                <div>contactanos</div>
                <div>franquicias</div>
            </div>
            <div class="pie3">
                <div><i class="fa-brands fa-whatsapp iconosf"></i><i class="fa-brands fa-facebook iconosf"></i><i
                        class="fa-brands fa-instagram iconosf"></i></div>
                <div>info@digitaldrinks.com</div>
                <div>1121602249</div>
                <div>Calle Falsa 123, Vicente Lopez, B1504</div>
            </div>
       
        </div>


    </footer>
    
</body>
</html>