

.encabezado{
    background-color:BLACK;
    color: white; 
    /* height: 17vh;  */
     padding-top: 35px;
    font-size: 14px;
}

.ingresa a{
    text-decoration: none;
    color: white;
}

.registrate a{
    text-decoration: none;
    color: white;
}

.carrito a{
    text-decoration: none;
    color: white;
}

.hipervinculos a{
    text-decoration: none;
    color: white;
}

.hipervinculos{
    font-size: 10px; 
    margin-top: 20px; 
    text-decoration: none; 
    color: white; 
    text-align: center; 
    margin-left: 220px; 
    margin-right: 220px;
    padding: 16px; 
    border-top: 9px solid orangered; 
    margin-top: 6px !important;     
}

.medio{
background-color:orangered; 
color: white; 
/* height:65vh;  */
 padding: 0px !important; 
margin: 0;
}

.pie{
    background-color:BLACK; 
    color: white; 
    height:20vh; 
    padding: 20px;
    
}

.iconosf{
    padding:10px
}

.noPadding{
    padding: 0;
}

.tope-de-arriba{
    background-color: orangered;
    height: 5vh ;
    display:flex;
    

}

.boton-busqueda{
    display: inline;
    /* height: 80%; */
    font-size: 0.7em !important;
    margin-top: -1em;
    
}

.buscador{
    display: inline !important;
    width: 75% !important;
    height: 30px;
    margin-left: 0.5em;

    
}

.centrar-buscador{
    text-align: center;
    margin-top: -1em !important ;
}

.mensaje{
    color: white;
    text-align: center;
    flex: 0.9;
    margin-top: 4px;
    
}

.fondo-imagenes{
     background-image: url("../imagenes/primera.jpeg");
      height: 90vh;
     background-repeat: no-repeat;
     background-size: cover;
     /* background-position: ; */
     background-attachment: fixed;
    
}

.logo{
    /* margin-top: -1em !important; */
}

.item{
    margin-left: 1em;
}

.separador{
    margin-left: 1em;
}
.arriba{
    margin-top: -1em !important;
}
