body{
    background-color: #101010 !important;
}

.encabezado {
    background-color: BLACK;
    color: white;
    padding-top: 40px;
    font-size: 14px;

}

.inferior-mensaje:hover{
    filter: drop-shadow(0px 1px 29px rgb(2, 248, 2));
}

.row {
    --bs-gutter-x: 0.5rem !important;
}

.container-fluid {
    --bs-gutter-x: 0.5rem !important;
}

.iconos{
    color: #EEE;
    margin-left: 1em;
    margin-top: -0.1em;
}

.hipervinculos {
    font-size: 13px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: 220px;
    margin-right: 220px;
    padding: 16px;

}

.medio {
    background-color: orangered;
    color: white;
    padding: 0px !important;
    margin: 0;
}

.pie {
    background-color: BLACK;
    color: white;
    height: 20vh;
    padding: 20px;

}

.iconosf {
    padding: 10px
}

.noPadding {
    padding: 0;
}

.tope-de-arriba {
    height: 4vh;
    display: flex;

}

.boton-busqueda { 
    display: inline;
    font-size: 8px !important;
    background-color: white !important;
    color: #000 !important;
    border: #000 !important;
    border-top-right-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
    position: relative;
    right: 0px;
    top: 0px;
}

.input-search-header{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: none !important;
}

.boton-busqueda :hover{
    color: orangered;
}
.fa-magnifying-glass:before, .fa-search:before {
    font-size: 15px;
}

.buscador {
    display: inline !important;
    width: 75% !important;
    height: 30px;
    margin-left: 0.5em;
}

.centrar-buscador {
    text-align: center;

    margin-top: -1em !important;
    padding-bottom: 1em;
}

.mensaje {
    color: rgb(248, 116, 68);
    text-align: center;
    flex: 0.9;
    margin-top: 0.4em;

}

.fondo-imagenes {
    background-image: url("../imagenes/cerveza4.jpeg");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
header{   
    background-color: black;
    align-items: center;
    justify-content: space-between;
    min-height:15vh;
    padding: 10px;
}

header .fila1{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 14px;
}

header .ayb {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    height: 100%;
}

.prb {
    /* position: absolute;*/
     color: #000;
     right: 48px;
 }
 

a:hover{
    color:orangered;
    transition: 1s;

}

 .menu a {
    position: relative;
    display: block;
    text-decoration: none;
    color: white
  }
  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    color: orangered;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #e2883e, #e06343, #FA4500);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
    transform: scaleX(1);
  }
  
/* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .menu[data-animation="to-left"] a::before {
    transform-origin: right;
  }
  
  .menu[data-animation="center"] a::before {
    transform-origin: center;
  }
  
  .menu[data-animation="bonus"] a::before {
    transform-origin: right;
  }
  
  .menu[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  }


 header .logo {
    /* flex-grow: 1; */
    padding-left: 2vw;
    padding-bottom: 0.6em;
    position: relative;
    bottom: 25px;
}

.item{
    margin-left: 1em;
    color:white;
    text-decoration: none;
}

.separador {
    margin-left: 1em;
}

.arriba {
    margin-top: -1em !important;
}



.flex-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 401px);
    grid-template-rows: 2fr;
    grid-gap: 6em;

}

.producto-home {
    width: 25%;
    position: relative;
    text-align: center !important;

}

.imagen-centrada {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.texto-centrado {
    text-align: center;
    font-size: 17px;
    padding: 1em;
    text-decoration: none !important;
}

.vinculo-inferior :hover{
    color: #EEE;
    
}

.vinculo-inferior {
    color: rgb(247, 247, 247) !important;
    text-decoration: none;
}

.mobile {
    display: none !important;
}

.grande {
    display: block;
}

#hamnav input{
    opacity: 0;
}
#hamnav label {
    display: inline-block;
    color: white;
    background: orangered;
    font-style: normal;
    font-size: 1.2em;
    padding: 5px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}


#hamnav {
    background: #000;
    position: relative;
}

#hamitems{
    display: none;
    flex-direction: column;
    max-width: 300px;
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: black;
    padding: 0 20px 0 10px;
    gap: 5px;
  
}

#hamnav input:checked~#hamitems {
    display: flex;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.inferior-mensaje {
    position: fixed;
    bottom: 6%;
    right: 5%;
    width: 60px;
    height: 60px;
}

/* Flickity */
.gallery {
    background: rgb(10, 10, 10);
    margin-bottom: 2em;
  }


  .flickity-button{
    background:hsl(0deg 0% 0% / 75%);
    color: orangered;
  }

  .gallery-cell {
    width: 200px;
    height: 360px;
     margin-right: 5px; 
    background: orangered;
    counter-increment: gallery-cell;
    text-align: center;
    border-radius: 8px;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    line-height: 200px;
    color: orangered;
  }
  
