/*header*/

header{   
    background-color: black;
    align-items: center;
    justify-content: space-between;
    min-height:15vh;
    padding: 22px !important;
}

header .fila1{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;
}

header .ayb{
display: flex;
justify-content: center;
align-items: center;
flex-grow: 3;
height: 100%;
}

header .logo{
    flex-grow: 1;
}

header .b{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

header .menu2{
    flex-grow: 1;
    margin-top: 40px;
}

.m2{
    visibility:hidden;
}

header .ayb input{
    flex-grow: 50;
    height: 40px;
    }

header .ayb button{
    flex-grow: 1;
    height: 40px !important;
    color: black;
    cursor:pointer;

}

header .ayb button i{
    color: black !important;
}

header .ayb button i:hover{
    color: orange !important;
}

header .fila2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

header .fila2 .menu{
    flex-grow: 1;
}


header .fila2  .menu-mobile{
    display:none ;
}

header .fila2 .menu-mobile .contenedor-lista-mobile{
    display: none;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 9999;
    width: max-content;
    color:orange;
    background-color: black;
    border: gainsboro;
}

header .fila2 .menu-mobile button:focus + .contenedor-lista-mobile{
display: block;
}

header .fila2 .menu-mobile .contenedor-lista-mobile .lista-mobile{
    display: flex;
    flex-direction: column;
    color:white;
    list-style: none;
    font-size: 12px;
    gap:10px;
    text-align: left;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    border: solid orange 1px;
    padding: 20px !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 20px !important;
}

header .fila2 .menu-mobile .contenedor-lista-mobile .lista-mobile li{
    width: max-content;
    margin: 0 !important;
    text-align: left !important;
}

/*burga*/
#hamnav{
    display: none;
}
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #000;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: orange; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }

  /* [ON SMALL SCREENS] */
@media screen and (max-width: 1100px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: orange;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
      margin-left: 15px;
      border-radius: 20%;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }

/*burga*/

.hamburguesa{
    background-color: orange;
    
}

.boton-desplegable{
    background-color: orange;
    border-radius: 20%;
    border: solid gray 3px;
    height: 40px;
    width: 40px;
    padding-right: 20px;
}

header .fila2 .input-responsive{
    display: none;
}

header .fila2 .input-responsive input{
    height: 40px;
    }

header .fila2 .input-responsive button{
    height: 40px;
    color: black;
    cursor:pointer;
}

header .fila2 .input-responsive button i{
    color: black !important;
}

header .fila2 .input-responsive button i:hover{
    color: orange !important;
}


a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}

li{
    margin: auto 4px;
}

.a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    margin:0px auto;
    text-align: center;
    color:white;
    list-style: none;
    padding-right: 15px;
    position: absolute;
    top: 25px;
    font-size: 12px;
}

.fa:hover{
    color: orange;
}

.menu2{
 display: flex;
 position: relative;
 top:-15px;
 right:15px;
 list-style: none;
}


.b{
    display: flex;
    align-items: center;
    
    position: relative;
    top:-15px;
    right: 10px;
    justify-content: space-between;

}

.form-control{
    max-width: 1060px;
    display: flex;
}

i{
    color:white;
    font-size: 20px;
    margin-left: 3px;
}

/*main2*/
body{
    font-family: Montserrat, sans-serif;
    /* background: rgb(221, 64, 6); */
    background-image: url("/imagenes/botellas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20vh;
  }
  .container{
    user-select: none;
    margin: 100px auto;
    background: rgb(19, 18, 18);
    color: rgb(247, 194, 175);
    border-radius: 5px;
    width: 340px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  }
  .cover-photo{
    background: url('/imagenes/trigo.jpg');
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-position: center center;
    background-size: cover;
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: rgb(3, 3, 3);
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
  }
  .about{
    margin-top: 35px;
    line-height: 21px;
    margin-bottom: 35px;
  }

  .msg-btn, .follow-btn{
    background: orangered;
    border: 1px solid rgb(184, 51, 3);
    padding: 10px 25px;
    color: #2b2b2c;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    
  }
  .follow-btn{
    margin-left: 10px;
    /* background: transparent; */
    /* color: #02899c; */
   
    
  }
  .follow-btn:hover{
    color: white;
    /* background: #03bfbc; */
    transition: .5s;


  }
  .container i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .container i:hover{
    color: orangered;
  }

  .fab{
    margin-top: 40px;
  }


/*main{
    background-color:orangered; 
    color: white; 
    height:65vh; 
    padding: 20px;
    margin-bottom: 20vh;
    }

.container1{
    flex-direction: column;
    display: flex;
    border: 3px rgb(37, 36, 36) solid;
    margin-top: 1vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px black;
}
.col-6{
    padding-top: 30px;;
}

.fa:hover{
    color: orange;
}

.barr{
    color:white;
}


.tyc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    margin-bottom: 5vh;
    flex-direction: row;
}

.btn-primary{
    background-color: black;
    color: orange;
    margin-bottom: 3vh;
}*/
/* footer */

.pie{
    background-color:BLACK; 
    color: white; 
    height:20vh; 
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.iconosf{
    padding-right: 10px;
}

.pie2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pie3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* /nuevo media/ */

/*@media(max-width:770px){
    header .fila2 .input-responsive{
display: none !important;
    }
}*/



@media(max-width:1100px){
    header .fila1 .ayb{
        display: none;
    }

    header .fila2 .input-responsive{
        display: flex;
    }

    header .fila2 .menu-mobile{
        display: block;
    }

    header .fila2 .menu{
        display: none;
    }

    #hamnav{
        display: block;
    }

  .pie1 img{
        height: 50px;
        width: 200px;
    }

    .pie2{
        font-size: 12px;
        margin-left: 20px;
    }

    .pie3{
        font-size: 12px;
        margin-left: 20px;
     
    }


    .pie{
        display: flex;
        flex-wrap:wrap
    }

    .input-responsive .input{
        flex-grow: 5;
        width: 40vw;
    }
}

@media(max-width:691px){

    header .b{
        display: none;
    }

 header .logo{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 1vw;
    align-items: center;
 }

 .pie{
    display: flex;
    flex-wrap:inherit;
}

.padre-cajas{
    flex-direction: column;
}
.jack-daniels{
    margin-right: auto;
    margin-left: auto;
}
.caja2{
    margin-top: 1.5em;
}

.pie1{
    display: flex;
    flex-direction: column;
}
.pie2{
    display: none;
    /* flex-direction: column; */
}

.pie3{
        display: flex;
        flex-direction: column;
}

.menu2{
    display: none;
}

body{
    font-family: Montserrat, sans-serif;
    /* background: rgb(221, 64, 6); */
    /* background-image: url("/imagenes/cerveza4.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20vh;
    background-color: #2b2b2c !important;
    background: none;
  }

}

.b{
    color: white;
  }
  
  @media(max-width:1100px){
    .m1{
      display: none;
    }
  
    header .fila1 .ayb{
      display: none;
  }
  
  header .fila2 .input-responsive{
      display: flex;
  }
  
    .input-responsive .input {
      flex-grow: 5;
      width: 40vw;}
  }
  
  @media(max-width:691px){
  
    header .b{
        display: none;
    }
  
  header .logo img{
     width: 80%;
    
  }
  }
  
  header .b{
    font-size: 18px;
  }

