



*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/*header*/

header{   
    background-color: black;
    align-items: center;
    justify-content: space-between;
    min-height:15vh;
    padding: 10px;
}

.padre-precio{
    display: flex;
    align-items: center;
}

header .fila1{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 20px;
}

header .ayb{
display: flex;
justify-content: center;
align-items: center;
flex-grow: 3;
height: 100%;
}

header .logo{
    flex-grow: 1;
}

header .b{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

header .menu2{
    flex-grow: 1;
    margin-top: 40px;
}

header .ayb input{
    flex-grow: 50;
    height: 40px;
    }

header .ayb button{
    flex-grow: 1;
    height: 40px;
    color: black;
    cursor:pointer;

}

header .ayb button i{
    color: black !important;
}

header .ayb button i:hover{
    color: orange !important;
}

header .fila2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

header .fila2 .menu{
    flex-grow: 1;
}


header .fila2  .menu-mobile{
    display:none ;
}

header .fila2 .menu-mobile .contenedor-lista-mobile{
    display: none;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 9999;
    width: max-content;
    color:orange;
    background-color: black;
    border: gainsboro;
}

header .fila2 .menu-mobile button:focus + .contenedor-lista-mobile{
display: block;
}

header .fila2 .menu-mobile .contenedor-lista-mobile .lista-mobile{
    display: flex;
    flex-direction: column;
    color:white;
    list-style: none;
    font-size: 12px;
    gap:10px;
    text-align: left;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    border: solid orange 1px;
    padding: 20px !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 20px !important;
}

header .fila2 .menu-mobile .contenedor-lista-mobile .lista-mobile li{
    width: max-content;
    margin: 0 !important;
    text-align: left !important;
}

.hamburguesa{
    background-color: orange;
    
}

.boton-desplegable{
    background-color: orange;
    border-radius: 20%;
    border: solid gray 3px;
    height: 40px;
    width: 40px;
    padding-right: 20px;
}

header .fila2 .input-responsive{
    display: none;
}

header .fila2 .input-responsive input{
    height: 40px;
    }

header .fila2 .input-responsive button{
    height: 40px;
    color: black;
    cursor:pointer;
}

header .fila2 .input-responsive button i{
    color: black !important;
}

header .fila2 .input-responsive button i:hover{
    color: orange !important;
}


a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: orange;
}

li{
    margin: auto 4px;
}

.a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    margin:0px auto;
    text-align: center;
    color:white;
    list-style: none;
    padding-right: 15px;
    position: absolute;
    top: 25px;
    font-size: 12px;
}

.fa:hover{
    color: orange;
}

.menu2{
 display: flex;
 position: relative;
 top:-15px;
 right:15px;
 list-style: none;
}


.b{
    display: flex;
    align-items: center;
    
    position: relative;
    top:-15px;
    right: 10px;
    justify-content: space-between;

}

.form-control{
    max-width: 1060px;
    display: flex;
}

i{
    color:white;
    font-size: 20px;
    margin-left: 3px;
}

body{
margin: 0;
}
/* main */
main{
    /* height: 65vh; */
}

.jack-daniels{
    /* position: relative; */
    /* top:20px; */
    margin-top: -1em;
}

.caja1{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* bottom: 300px; */
    /* left: 200px; */
     max-width: 50vw;
    margin-left: 40px;
    /* border: 2px solid gainsboro; */
     padding-left: 2em;

}

.padre-cajas{
    display: flex;
    align-items: center center;
    justify-content: center;
}

.precio{
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;

}

.cuotas{
    font-size: 15px;
    margin-bottom: -0.3em;
}

.botones-ml{
    display: flex;
    margin-bottom: 0.7em;
    color: black;
}

.descuento{
    font-size: 15px;
}

.pago{
    color: rgb(72, 72, 235);
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.main-principal{
    margin: 2em;
}

.caja2 table td{
    border: 1px solid gainsboro;
    padding: 0.5em;
    font-size: 15px;
}

.caja2 table{
  margin-bottom: 1em;
}
.pagos-tarjetas{
    /* margin-top: 1em !important; */
}

.botones-ml input{
    width: 10em;
}

.litro{
    margin-bottom: -0.3em ;
    margin-top: 0.3em ;
}

.off{
    color: rgb(25, 235, 25);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: -0.5em;
}

.caja1 a{
    color: blue;
}

.caja1 a:hover{
    color: orange;
}

.caja2{
    color: black;
    margin-left: 3em;
}



/* footer */

.pie{
    background-color:BLACK; 
    color: white; 
    height:20vh; 
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.iconosf{
    padding-right: 10px;
}

.pie2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pie3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




@media(max-width:1100px){
    header .fila1 .ayb{
        display: none;
    }

    header .fila2 .input-responsive{
        display: flex;
    }

    header .fila2 .menu-mobile{
        display: block;
    }

    header .fila2 .menu{
        display: none;
    }

  .pie1 img{
        height: 50px;
        width: 200px;
    }

    .pie2{
        font-size: 12px;
        margin-left: 20px;
    }

    .pie3{
        font-size: 12px;
        margin-left: 20px;
     
    }


    .pie{
        display: flex;
        flex-wrap:wrap
    }

    .input-responsive .input{
        flex-grow: 5;
        width: 40vw;
    }
}

@media(max-width:691px){

    header .b{
        display: none;
    }

 header .logo img{
     width: 220px;
 }

 .pie{
    display: flex;
    flex-wrap:inherit;
}

}