<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/carrito.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>


<body>
    <%- include("./partials/header.ejs") %>

    <main>
        <br>
        <div class="medio">

            <h1 class="tu-carrito">Tu carrito</h1>
            <div class="carrito-fondo">
            <div class="background-image-carrito">
                <div class="caja-texto">
                    <div class="esta-vacio">Tu carrito esta vacío</div>
                    <div class="llenalo">Llenalo con nuestros productos</div>
                    <a class="compras" href="/">Ir de compras</a>
                </div>
            </div>
            </div>
            

        </div>
        <div class="derechos">DIGITAL DRINKS - Todos los derechos reservados</div>
       <br>

    </main>

    <footer>
        <div class="pie">

            <div class="pie1"><img width='300' height='75' src="/imagenes/logo-dd.png"></img></div>
          
            <div class="pie2">
                <div>Terminos y condiciones</div>
                <div>Politicas de privacidad</div>
                <div>contactanos</div>
                <div>franquicias</div>
            </div>
            <div class="pie3">
                <div><i class="fa-brands fa-whatsapp iconosf"></i><i class="fa-brands fa-facebook iconosf"></i><i
                        class="fa-brands fa-instagram iconosf"></i></div>
                <div>info@digitaldrinks.com</div>
                <div>1121602249</div>
                <div>Calle Falsa 123, Vicente Lopez, B1504</div>
            </div>
       
        </div>


    </footer>

</body>

</html>