<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/contacto.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>

    <%- include("./partials/header.ejs") %>

    <main>
        <div class="formlogin">

            <div class="container">
                <form action="./contacto" class="contact-form" method="POST">
                    <h2 class="cont">Contacto</h2>
                    <input class="form" type="text" id="name" name="de" placeholder="Nombre Completo" pattern="[A-Za-z]+{2,25}" title="El Nombre debe tener entre 3 y 25 caracteres y contener solo letras" required  ></br>
                    <input class="form" type="email" id="email" name="email" placeholder="Email" required></br>
                    <input class="form" type="test" id="subjet" name="asunto" placeholder="asunto" pattern="[A-Za-z]+{2,25}" title="El Nombre debe tener entre 3 y 25 caracteres y contener solo letras" required></br>
                    <textarea id="message" placeholder="mensaje" name="contenido" cols="30" rows="10" width="200px" style= "
                    width: 100%;" pattern="[A-Za-z]" required ></textarea>
                    <div class="boton">
                        <button type="submit" class="button type1">
                            Enviar!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>