<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/error-404.css" rel="stylesheet">
    <title>Error 404</title>
</head>
<body>
    <header>
<div class="h">
        <a href="/"><img width="300" height="75" src="/imagenes/logo-dd.png"></a>
    </div>

    </header>
    <main>

        <div class="homero"><img width="200" height="200" src="/imagenes/homero.jpg"></div>

    <div class="contenedor">
        <div class="mensaje">Parece que esta página no existe</div>
        <a class="pp" href ="/">Ir a la pagina principal</a>
    </div>

    </main>
</body>
</html>