<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home2.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>HOME</title>
</head>

<body>
   <%- include("./partials/headeradm.ejs") %>
    <main>
        <div class="container-fluid medio">
            <div class="fondo-imagenes">
            </div>
            <div class="flex-container">
                <div class="primera-opcion">
                    <a href="#" class="vinculo-inferior">
                        <span class="texto-centrado">Cocteles En Casa</span>
                        <img src="/imagenes/segunda.jpg" class="imagen-centrada" alt="cocteles">
                    </a>

                </div>

                <div class="segunda-opcion">

                    <a href="#" class="vinculo-inferior">
                        <span class="texto-centrado">Cervezas Internacionales</span>

                        <img src="/imagenes/tercera.jpg" class="imagen-centrada" alt="cerveza">
                    </a>


                </div>

                <div class="tercera-opcion">
                    <a href="#" class="vinculo-inferior">
                        <span class="texto-centrado">Espumantes Especiales</span>
                        <img src="/imagenes/penultima.png" class="imagen-centrada" alt="espumantes">
                    </a>

                </div>

                <div class="cuarta-opcion">
                    <a href="#" class="vinculo-inferior">
                        <span class="texto-centrado">Vinos Lujosos</span>
                        <img src="/imagenes/ultima.jpg" class="imagen-centrada" alt="vinos">
                    </a>

                </div>

            </div>
    </main>

    <footer>
        <div class="container-fluid pie">
            <div class="row">
                <div class="col-12 col-sm-2 acomodar-logo"><img width='200' class="logo-abajo" height='38%'
                        src="/imagenes/logo-dd.png"></img></div>
                <div class="col-12 col-sm-6 condiciones-arreglando">
                    <div>
                        <a href="#">Terminos y Condiciones</a>
                    </div>
                    <div>
                        <a href="#"> Politicas De Privacidad</a>
                    </div>
                    <div>
                        <a href="#">Contactanos</a>
                    </div>
                    <div>
                        <a href="#">franquicias</a>
                    </div>

                </div>
                <div class="col-12 col-sm-4">
                    <div>info@digitaldrinks.com</div>
                    <div>1121602249</div>
                    <div>Calle Falsa 123, Vicente Lopez, B1504</div>

                </div>
    </footer>

    <a href="#" class="inferior-vinculo">
        <img src="/imagenes/whats.png" class="inferior-mensaje" alt="">
    </a>

</body>

</html>