<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fa3a2d0319.js" crossorigin="anonymous"></script>
    <link href="/css/whiskies.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="fila1">

            <div class="logo">
                <a href="home.html"><img width="300" height="75" src="imagenes/logo-dd.png"></a>
            </div>
            <div class="ayb"><input class="input" placeholder="¿Qué estas buscando?">
                <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div class="b">
                <i class="fa-regular fa-envelope"></i>
                <a href="carrito.html"><i class="fa fa-cart-shopping"></i></a>
            </div>

            <div>
                <ul class="menu2">
                    <li><a href="registro.html">Registrarse</a></li> |
                    <li class="li"><a href="login.html">Ingresar</a></li>
                </ul>
            </div>


        </div>
        <div class="fila2">



            <ul class="menu">
                <li><a href="#promociones">PROMOCIONES</a></li>|
                <li><a href="#vinos">VINOS</a></li>|
                <li><a href="#espumantes">ESPUMANTES </a></li>|
                <li><a href="whiskies.html">WHISKIES</a></li>|
                <li><a href="#gin">GIN</a></li>|
                <li><a href="#licores">LICORES</a></li>|
                <li><a href="#vodka">VODKA</a></li>|
                <li><a href="#ron">RON</a></li>|
                <li><a href="#aperitivos">APERITIVOS</a></li>|
                <li><a href="#cervezas">CERVEZAS</a></li>|
                <li><a href="#accesorios">ACCESORIOS</a></li>|
                <li><a href="#otras">OTRAS</a></li>
            </ul>

            <div class="menu-mobile">
                <button class="boton-desplegable"><i class="fa-solid fa-bars hamburguesa"></i></i></button>
                <div class="contenedor-lista-mobile" tabindex="1">

                    <ul class="lista-mobile">
                        <li><a href="#promociones">PROMOCIONES</a></li>
                        <li><a href="#vinos">VINOS</a></li>
                        <li><a href="#espumantes">ESPUMANTES </a></li>
                        <li><a href="whiskies.html">WHISKIES</a></li>
                        <li><a href="#gin">GIN</a></li>
                        <li><a href="#licores">LICORES</a></li>
                        <li><a href="#vodka">VODKA</a></li>
                        <li><a href="#ron">RON</a></li>
                        <li><a href="#aperitivos">APERITIVOS</a></li>
                        <li><a href="#cervezas">CERVEZAS</a></li>
                        <li><a href="#accesorios">ACCESORIOS</a></li>
                        <li><a href="#otras">OTRAS</a></li>
                    </ul>
                </div>
            </div>

            <div class="input-responsive"><input class="input" placeholder="¿Qué estas buscando?">
                <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>


        </div>

    </header>
    <main class="container-grid">

        <div class="producto">
            <img src="/imagenes/jack-daniels.png" alt="Jack Daniels">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 10.080</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Jack Daniel's Old No. 7 750 mL</span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>1919</span>
                </div>
                <br>
                <a href="producto.html" align="center">
                    <input class="detalle-producto" type="button" value="Detalle Producto">
                    </a>
                
                <span class="conStock" align="center">Stock disponible</span>
            </div>
        </div>


        <div class="producto">
            <img  src="imagenes/Aberlour Single matl 12 Años escoces 700ml.png" alt="Aberlour">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 10.800</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Aberlour Malt escocés 700 mL</span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>1100</span>
                </div>
                <br>
                <a href="producto.html" align="center">
                    <input class="detalle-producto" type="button" value="Detalle Producto">
                    </a>
                <span class="sinStock" align="center">Sin Stock</span>
                </div>
        </div>

        <div class="producto">
            <img src="imagenes/Whisky Chivas Regal 12 Años Escocia botella 1 L.png" alt="Chivas Regal">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 7.290</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Chivas Regal 12 Años Escocia 1 L</span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>2090</span>
                </div>
                <br>
                <a href="producto.html" align="center">
                    <input class="detalle-producto" type="button" value="Detalle Producto">
                    </a>
                    
                <span class="sinStock" align="center">Sin Stock</span>
                
            </div>
        </div>

        <div class="producto">
            <img src="imagenes/Ballantine's 12 Años escocés 750 mL.png" alt="Ballantine">
            <div class="informacion">
                <span class="tipo-envio">Ennvio con normalidad</span>
                <br>
                <span class="precio">$ 6.480</span>
                <span class="precio-envio">Envío gratis</span>
                <span class="descripcion">Ballantine's escocés 750 mL </span>
                <div class="calificacion">
                    <span><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i>
                <i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i><i class="fa-solid fa-star celeste"></i></span>
                    <span>1809</span>
                </div>
            </div>
            <a href="producto.html" align="center">
            <input class="detalle-producto" type="button" value="Detalle Producto">
            </a>
            <br>
            <span class="sinStock" align="center">Sin Stock</span>
                
                
                
            </div>
           
        </div>


         

    </main>
    <footer>
        <div class="pie">

            <div class="pie1"><img width='300' height='75' src="/imagenes/logo-dd.png"></img></div>

            <div class="pie2">
                <div>Terminos y condiciones</div>
                <div>Politicas de privacidad</div>
                <div>contactanos</div>
                <div>franquicias</div>
            </div>
            <div class="pie3">
                <div><i class="fa-brands fa-whatsapp iconosf"></i><i class="fa-brands fa-facebook iconosf"></i><i
                        class="fa-brands fa-instagram iconosf"></i></div>
                <div>info@digitaldrinks.com</div>
                <div>1121602249</div>
                <div>Calle Falsa 123, Vicente Lopez, B1504</div>
            </div>

        </div>


    </footer>

</body>

</html>