<header>
    <div class="tope-de-arriba">
        <div class="iconos">
            <i class="fa-brands fa-whatsapp iconosf"></i>
            <i class="fa-brands fa-facebook iconosf"></i>
            <i class="fa-brands fa-instagram iconosf"></i>

        </div>
        <div class="mensaje">
            <p>#quedateencasa | Nosotros Te Lo Llevamos | Envio Gratis En CABA</p>
        </div>
    </div>

    <div class="container-fluid encabezado">

        <div class="row mobile">

            <div class="col-12 col-sm-3 logo"><a href="/"> <img class="imagen-logo" width='200'
                        height='100%' src="/imagenes/logo-dd.png"></img></a></div>
            <div class="col-12 col-sm-3 arriba">
                <nav id="hamnav">
                    <label for="hamburger">&#9776;</label>
                    <input type="checkbox" id="hamburger" />

                    <div id="hamitens">
                        <a href="../products/promociones">Promociones</a>
                        <a href="../products/vinos">Vinos</a>
                        <a href="../products/espumantes">Espumantes</a>
                        <a href="../products/whiskies">Whiskies</a>
                        <a href="../products/gin">Gin</a>
                        <a href="../products/licores">Licores</a>
                        <a href="../products/vodka">Vodka</a>
                        <a href="../products/ron">Ron</a>
                        <a href="../products/aperitivos">Aperitivos</a>
                        <a href="../products/cervezas">Cervezas</a>
                        <a href="../products/accesorios">Acesorios</a>
                        <a href="../products/productos-todos">Todos</a>
                        <a href="../users/perfil">PERFIL</a>
                        <a href="../products/creacion-producto">CREAR</a>
                        <a href="../products/productos-todos-admin">EDITAR</a>
                    </div>
                </nav>
                <span class="item"><i class="fa-solid fa-envelope"></i></span>
                <span class="separador">|</span>
                <span class="item carrito"><a href="../products/carrito"><i
                            class="fa-solid fa-cart-shopping"></i></a></span>

            </div>
            <div class="col-12 col-sm-6 centrar-buscador ">
                <input class="form-control buscador" list="datalistOptions" id="exampleDataList"
                    placeholder="¿Qué estas buscando?">
                <button class="btn btn-primary boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>

        </div>

        <div class="row grande">
            <div class="col-12 col-sm-3 logo"><a href="/"> <img class="imagen-logo" width='200'
                        height='100%' src="/imagenes/logo-dd.png"></img></a></div>
            <div class="col-12 col-sm-6 centrar-buscador ">
                <input class="form-control buscador" list="datalistOptions" id="exampleDataList"
                    placeholder="¿Qué estas buscando?">
                <button class="btn btn-primary boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 arriba">


                <span class="item carrito"><a href="../products/carrito"><i
                    class="fa-solid fa-cart-shopping"></i></a></span>
                <span class="separador">|</span>
                <span class="item ingresa"><a href="../users/perfil">PERFIL</a></span>
                <span class="separador">|</span>
                <span class=" item ingresa"><a href="../products/creacion-producto">CREAR</a></span>
                <span class="separador">|</span>
                <span class="item registrate"><a href="../products/productos-todos-admin">EDITAR</a></span>

            </div>



        </div>

        <div class="row hipervinculos menu">

            <div class="col"><a href="../products/promociones">PROMOCIONES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/vinos">VINOS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/espumantes">ESPUMANTES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/whiskies">WHISKIES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/gin">GIN</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/licores">LICORES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/vodka">VODKA</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/ron">RON</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/aperitivos">APERITIVOS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/cervezas">CERVEZAS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/accesorios">ACCESORIOS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="../products/productos-todos">TODOS</a></div>


        </div>
    </div>


</header>