<header>

    <div class="fila1">

        <div class="logo">
            <a href="/"><img width="250" height="70" src="/imagenes/logo-dd.png"></a>
            <a href="/"><i  class="fas fa-home"></i></a>
        </div>
        <div class="ayb">
            <button class="boton-busqueda" type="submit"><i class="prb fa fa-search"></i></button>
            <input class="input" placeholder="¿Qué estas buscando?">
            
        </div>

        <div class="b">
            <i class="fa-regular fa-envelope"></i>
            <a href="../products/carrito"><i class="fa fa-cart-shopping"></i></a>
        </div>

        <div class="iyr">

            <% if (!locals.isLogged) { %>
                <span class=" item ingresa"><a href="../users/login">INGRESÁ</a></span>
                <span class="separador">|</span>
                <span class="item registrate"><a href="../users/registro">REGISTRATE</a></span>
                
                <% } else { %>
                <span class="item ingresa"><a href="../users/perfil">PERFIL</a></span>
                <span class="separador">|</span>
                <span class=" item ingresa"><a href="../products/creacion-producto">CREAR</a></span>
                <span class="separador">|</span>
                <span class="item registrate"><a href="../products/productos-todos-admin">EDITAR</a></span>
                <% } %>
           
        </div>


    </div>
    <div class="fila2">

       

            <ul class="menu m1">
                <li><a href="../products/promociones">PROMOCIONES</a></li>|
                <li><a href="../products/vinos">VINOS</a></li>|
                <li><a href="../products/espumantes">ESPUMANTES </a></li>|
                <li><a href="../products/whiskies">WHISKIES</a></li>|
                <li><a href="../products/gin">GIN</a></li>|
                <li><a href="../products/licores">LICORES</a></li>|
                <li><a href="../products/vodka">VODKA</a></li>|
                <li><a href="../products/ron">RON</a></li>|
                <li><a href="../products/aperitivos">APERITIVOS</a></li>|
                <li><a href="../products/cervezas">CERVEZAS</a></li>|
                <li><a href="../products/accesorios">ACCESORIOS</a></li>|
                <li><a href="/products/productos-todos">TODOS</a></li>
            </ul>



            <!-- (A) MENU WRAPPER -->
<nav id="hamnav">
    <!-- (B) THE HAMBURGER -->
    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger"/>
   
    <!-- (C) MENU ITEMS -->
    <div id="hamitems">
      <a href="../users/login">INGRESÁ</a>|
      <a href="../users/registro">REGISTRATE</a>|
      <a href="../products/promociones">PROMOCIONES</a>|
      <a href="../products/vinos">VINOS</a>|
      <a href="../products/espumantes">ESPUMANTES </a>|
      <a href="../products/whiskies">WHISKIES</a>|
      <a href="../products/gin">GIN</a>|
      <a href="../products/licores">LICORES</a>|
      <a href="../products/vodka">VODKA</a>|
      <a href="../products/ron">RON</a>|
      <a href="../products/aperitivos">APERITIVOS</a>|
      <a href="../products/cervezas">CERVEZAS</a>|
      <a href="../products/accesorios">ACCESORIOS</a>|
      <a href="../products/productos-todos">TODOS</a>
    </div>
  </nav>
          

            <div class="input-responsive"><input class="input" placeholder="¿Qué estas buscando?">
                <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>


    </div>

    <script src="https://kit.fontawesome.com/55185d4cb8.js" crossorigin="anonymous"></script>
</header>