<header>

    <div class="fila1">

        <div class="logo">
            <a href="/"><img width="300" height="75" src="imagenes/logo-dd.png"></a>
        </div>
        <div class="ayb"><input class="input" placeholder="¿Qué estas buscando?">
            <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="b">
            <i class="fa-regular fa-envelope"></i>
            <a href="carrito"><i class="fa fa-cart-shopping"></i></a>
        </div>

        <div>
            <ul class="menu2">
                <li><a href="registro">Registrarse</a></li> <div style="color:white">|</div>
                <li class="li"><a href="login">Ingresar</a></li>
            </ul>
        </div>


    </div>
    <div class="fila2">

       

            <ul class="menu">
                <li><a href="#promociones">PROMOCIONES</a></li>|
                <li><a href="#vinos">VINOS</a></li>|
                <li><a href="#espumantes">ESPUMANTES </a></li>|
                <li><a href="producto">WHISKIES</a></li>|
                <li><a href="#gin">GIN</a></li>|
                <li><a href="#licores">LICORES</a></li>|
                <li><a href="#vodka">VODKA</a></li>|
                <li><a href="#ron">RON</a></li>|
                <li><a href="#aperitivos">APERITIVOS</a></li>|
                <li><a href="#cervezas">CERVEZAS</a></li>|
                <li><a href="#accesorios">ACCESORIOS</a></li>|
                <li><a href="../products/productos-todos.ejs">TODOS</a></li>
            </ul>


            <div class="menu-mobile">
                <button class="boton-desplegable"><i class="fa-solid fa-bars hamburguesa"></i></i></button>
                <div class="contenedor-lista-mobile" tabindex="1">

                    <ul class="lista-mobile">
                        <li><a href="#promociones">PROMOCIONES</a></li>
                        <li><a href="#vinos">VINOS</a></li>
                        <li><a href="#espumantes">ESPUMANTES </a></li>
                        <li><a href="producto">WHISKIES</a></li>
                        <li><a href="#gin">GIN</a></li>
                        <li><a href="#licores">LICORES</a></li>
                        <li><a href="#vodka">VODKA</a></li>
                        <li><a href="#ron">RON</a></li>
                        <li><a href="#aperitivos">APERITIVOS</a></li>
                        <li><a href="#cervezas">CERVEZAS</a></li>
                        <li><a href="#accesorios">ACCESORIOS</a></li>
                        <li><a href="#otras">OTRAS</a></li>
                    </ul>
                </div>
            </div>

            <div class="input-responsive"><input class="input" placeholder="¿Qué estas buscando?">
                <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>


    </div>


</header>