<header>

    <div class="fila1">

        <div class="logo">
            <a href="/"><img width="300" height="75" src="/imagenes/logo-dd.png"></a>
        </div>
        <div class="ayb"><input class="input" placeholder="¿Qué estas buscando?">
            <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="b">
            <i class="fa-regular fa-envelope"></i>
            <a href="../products/carrito"><i class="fa fa-cart-shopping"></i></a>
        </div>

        <div>
            <ul class="menu2 m2">
                <li><a href="../users/registro">Registrarse</a></li> <div style="color:white">|</div>
                <li class="li"><a href="../users/login">Ingresar</a></li>
            </ul>
        </div>


    </div>
    <div class="fila2">

       

            <ul class="menu m1">
                <li><a href="#promociones">PROMOCIONES</a></li>|
                <li><a href="#vinos">VINOS</a></li>|
                <li><a href="#espumantes">ESPUMANTES </a></li>|
                <li><a href="../products/whiskies">WHISKIES</a></li>|
                <li><a href="#gin">GIN</a></li>|
                <li><a href="#licores">LICORES</a></li>|
                <li><a href="#vodka">VODKA</a></li>|
                <li><a href="#ron">RON</a></li>|
                <li><a href="#aperitivos">APERITIVOS</a></li>|
                <li><a href="#cervezas">CERVEZAS</a></li>|
                <li><a href="#accesorios">ACCESORIOS</a></li>|
                <li><a href="/products/productos-todos">TODOS</a></li>
            </ul>



            <!-- (A) MENU WRAPPER -->
<nav id="hamnav">
    <!-- (B) THE HAMBURGER -->
    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger"/>
   
    <!-- (C) MENU ITEMS -->
    <div id="hamitems">
     
      <a href="#promociones">PROMOCIONES</a>|
      <a href="#vinos">VINOS</a>|
      <a href="#espumantes">ESPUMANTES </a>|
      <a href="../products/whiskies">WHISKIES</a>|
      <a href="#gin">GIN</a>|
      <a href="#licores">LICORES</a>|
      <a href="#vodka">VODKA</a>|
      <a href="#ron">RON</a>|
      <a href="#aperitivos">APERITIVOS</a>|
      <a href="#cervezas">CERVEZAS</a>|
      <a href="#accesorios">ACCESORIOS</a>|
      <a href="../products/productos-todos">TODOS</a>
    </div>
  </nav>
          

            <div class="input-responsive"><input class="input" placeholder="¿Qué estas buscando?">
                <button class="boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>


    </div>


</header>