<header>
    <div class="tope-de-arriba">
        <div class="iconos">
            <i class="fa-brands fa-whatsapp iconosf"></i>
            <i class="fa-brands fa-facebook iconosf"></i>
            <i class="fa-brands fa-instagram iconosf"></i>

        </div>
        <div class="mensaje">
            <p>#quedateencasa | Nosotros Te Lo Llevamos | Envio Gratis En CABA</p>
        </div>
    </div>

    <div class="container-fluid encabezado">

        <div class="row mobile">

            <div class="col-12 col-sm-3 logo"><a href="/"> <img class="imagen-logo" width='200'
                        height='100%' src="/imagenes/logo-dd.png"></img></a></div>
            <div class="col-12 col-sm-3 arriba">
                <nav id="hamnav">
                    <label for="hamburger">&#9776;</label>
                    <input type="checkbox" id="hamburger" />

                    <div id="hamitens">
                        <a href="login">INGRESÁ</a>

                        <a href="registro">REGISTRATE</a>
                        <a href="#">Promociones</a>
                        <a href="#">Vinos</a>
                        <a href="#">Espumantes</a>
                        <a href="whiskies">Whiskies</a>
                        <a href="#">Gin</a>
                        <a href="#">Licores</a>
                        <a href="#">Vodka</a>
                        <a href="#">Ron</a>
                        <a href="#">Aperitivos</a>
                        <a href="#">Cervezas</a>
                        <a href="#">Acesorios</a>
                        <a href="#">Especiales</a>
                        <a href="productos-todos">TODOS</a>
                    </div>
                </nav>
                <span class="item"><i class="fa-solid fa-envelope"></i></span>
                <span class="separador">|</span>
                <span class="item carrito"><a href="carrito"><i
                            class="fa-solid fa-cart-shopping"></i></a></span>

            </div>
            <div class="col-12 col-sm-6 centrar-buscador ">
                <input class="form-control buscador" list="datalistOptions" id="exampleDataList"
                    placeholder="¿Qué estas buscando?">
                <button class="btn btn-primary boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>

        </div>

        <div class="row grande">
            <div class="col-12 col-sm-3 logo"><a href="/"> <img class="imagen-logo" width='200'
                        height='100%' src="/imagenes/logo-dd.png"></img></a></div>
            <div class="col-12 col-sm-6 centrar-buscador ">
                <input class="form-control buscador" list="datalistOptions" id="exampleDataList"
                    placeholder="¿Qué estas buscando?">
                <button class="btn btn-primary boton-busqueda" type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 arriba">

                <span class="item"><i class="fa-solid fa-envelope"></i></span>
                <span class="separador">|</span>
                <span class="item carrito"><a href="carrito"><i
                            class="fa-solid fa-cart-shopping"></i></a></span>
                <span class="separador">|</span>
                <span class=" item ingresa"><a href="login">INGRESÁ</a></span>
                <span class="separador">|</span>
                <span class="item registrate"><a href="registro">REGISTRATE</a></span>

            </div>



        </div>

        <div class="row hipervinculos">

            <div class="col"><a href="#promociones">PROMOCIONES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#vinos">VINOS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#espumantes">ESPUMANTES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="whiskies">WHISKIES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#gin">GIN</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#licores">LICORES</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#vodka">VODKA</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#ron">RON</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#aperitivos">APERITIVOS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#cervezas">CERVEZAS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="#accesorios">ACCESORIOS</a></div>
            <div class="col">|</div>
            <div class="col"><a href="productos-todos">TODOS</a></div>


        </div>
    </div>


</header>