<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link href="/css/login.css" rel="stylesheet">    
<script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body>

<%- include("../partials/header.ejs") %>

<main class="formulario">

    <form action="/home2" class="form-box animate__animated animate__pulse">
        <h1 class="form-title">Ingresar</h1>
        <input type="email" placeholder="email" required>
        <input type="password" placeholder="Password" required>
        <a href="/registro"><label class="sinContrasena">¿No tenés Contraseña?</label> </a>
           <br>
        <button type="submit">
           Ingresá
        </button>
      </form>
    

</main>
  
 


  <footer>

        <%- include("../partials/footer.ejs") %> 
                    
</footer>
    

    
</body>
</html>