<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link href="/css/login.css" rel="stylesheet">    
<script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body>

<%- include("../partials/header.ejs") %>

<main class="formulario">

    <form action="/" class="form-box animate__animated animate__pulse">
        <h1 class="form-title">Ingresar</h1>
        <input type="email" placeholder="email" required>
        <input type="password" placeholder="Password" required>
        <a href="/registro"><label class="sinContrasena">¿No tenés Contraseña?</label> </a>
           <br>
        <button type="submit">
           Ingresá
        </button>
      </form>
    

</main>
  
 


  <footer>
    
    
        <div class="pie">

            <div class="pie1"><img width='300' height='75' src="/imagenes/logo-dd.png"></img></div>
          
            <div class="pie2">
                <div>Terminos y condiciones</div>
                <div>Politicas de privacidad</div>
                <div>contactanos</div>
                <div>franquicias</div>
            </div>
            <div class="pie3">
                <div><i class="fa-brands fa-whatsapp iconosf"></i><i class="fa-brands fa-facebook iconosf"></i><i
                        class="fa-brands fa-instagram iconosf"></i></div>
                <div>info@digitaldrinks.com</div>
                <div>1121602249</div>
                <div>Calle Falsa 123, Vicente Lopez, B1504</div>
            </div>
       
        </div>


     
            
</footer>
    

    
</body>
</html>