<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<link href="/css/login.css" rel="stylesheet">    
<script src="https://kit.fontawesome.com/e913f300ec.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<script src="https://kit.fontawesome.com/55185d4cb8.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>

<body class="fondo-imagenes">

    <%- include("../partials/header.ejs") %>

    <% if (typeof errors != 'undefined') { %>
        <p style="color:red">ERROR</p>
        <ul>
            <% for (let i =0; i < errors.length; i++) { %>
                <li>
                    <p style="color:red"><%= errors[i].msg %></p>
                    
                </li>
            <% } %>    
        </ul>
    <% } %>

<main class="formulario">

        


    <form action="/users/login" id="formulario" class="form-box animate__animated animate__pulse" method="POST">
        <h1 class="form-title">Ingresar</h1>
        <input type="Email" placeholder="email" name="Email" id="Email">
        <% if (locals.errors && errors.email) { %>
               <p style="color:red"><%= errors.email.msg %></p>
                   
            <% } %> 
        <input type="Password" placeholder="Password" name="Password" id="Password">
        <% if (locals.errors && errors.password) { %>
            <p style="color:red"><%= errors.password.msg %></p>
                
         <% } %> 
        <a href="../users/registro"><label class="sinContrasena">¿No tenés Cuenta?</label> </a>
           <br>
           <br>
           <label for="recordame">Recordame</label>
         <input type="checkbox" name="recordame" id="recordame"> <br>              
        <button type="submit" value="login">
           Ingresá
        </button>
      </form>
    

</main>
  



    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/validacion-Login.js"></script>
</body>
</html>