<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fonts awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <!--Styles-->
    <link rel="stylesheet" href="/css/perfil.css" />
   
</head>

<body>
    <%- include("../partials/header-productos-todos-admin.ejs") %>

    <main>
        <%  for (let user of usuarios) {%> 
        <div class="container">
            <div class="cover-photo">
                <img src="/imagenes/avatares/<%=user.Imagen%>" class="profile">
            </div> <br>
            <div class="profile-name"><%=user.Nombre + " " + user.Apellido%></div> <br>
            <p class="about"><%=user.Email%></p><br>
            <a href="../products/productos-todos" <button class="msg-btn">Ir de compras</button></a>
           <a href="../products/carrito" <button class="follow-btn">Mi carrito</button> </a>
           
            <div>
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
          <% } %> 

    </main>
    <footer>
        <div class="pie">

            <div class="pie1"><img width='300' height='75' src="/imagenes/logo-dd.png"></img></div>

            <div class="pie2">
                <div>Terminos y condiciones</div>
                <div>Politicas de privacidad</div>
                <div>contactanos</div>
                <div>franquicias</div>
            </div>
            <div class="pie3">
                <div><i class="fa-brands fa-whatsapp iconosf"></i><i class="fa-brands fa-facebook iconosf"></i><i
                        class="fa-brands fa-instagram iconosf"></i></div>
                <div>info@digitaldrinks.com</div>
                <div>1121602249</div>
                <div>Calle Falsa 123, Vicente Lopez, B1504</div>
            </div>

        </div>


    </footer>


</body>

</html>