<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fonts awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <!--Styles-->
    <link rel="stylesheet" href="/css/registro.css" />
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <form action="/users/registro" method="POST" class="formlogin" enctype="multipart/form-data">
                <div class="container">
                    <input class="form" type="text" id="name" name="usuario" required>
                    <label class="label" for="name">Usuario</label>
                </div>
                <div class="container">
                    <input class="form" type="password" id="password" name="password" required>
                    <label class="label" for="name">Contraseña</label>
                </div>
                <div class="container">
                    <input class="form" type="text" id="nombre" name="nombre" required>
                    <label class="label" for="name">Nombre</label>
                </div>
                </div>
                <div class="container">
                    <input class="form" type="text" id="apellido" name="apellido" required>
                    <label class="label" for="name">Apellido</label>
                </div>
                <div class="container">
                    <input class="form" type="text" id="dni" name="dni" required>
                    <label class="label" for="name">Dni</label>
                </div>
                <div class="container">
                    <input class="form" type="email" id="mail" name="mail" required>
                    <label class="label" for="name">Mail</label>
                </div>
                <div class="container">
                    <input class="form" type="text" id="domicilio" name="domicilio" required>
                    <label class="label" for="name">Domicilio</label>
                </div>
                <div class="container">
                    <input class="form" type="date" id="nacimiento" name="nacimiento" required>
                </div>

                <div class="coontainer">
                    <label for="cImage" class="form-label">Cargar imagen:</label>
                    <input type="file" name="cImage" id="cImage" required ></input>
                </div>
                <div class="tyc">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required="">
                    <label class="form-check-label" for="gridCheck">
                        Terminos y condiciones.
                    </label>
                </div>
                <div class="boton">
                    <button type="submit" class="button type1">
                        Registrarse!
                    </button>
                </div>
            </form>
            </div>

            </form>
        </main>

</body>

</html>